body {
	background: #171717;
	padding: 0;
	margin: 0;
}

.constrain {
	max-width: 1280px;
	padding: 0 50px;
	margin:0 auto;
	position:relative;
}
.snap {
	padding-left: 0;
	padding-right: 0;
}
.snap-left {
	padding-left: 0;
}
.snap-right {
	padding-right: 0;
}