@import '../components/breakpoint.variables.scss';

.no-autoplay .hero.video {
	background-image: url('/broseborough.com-videos/Homepage-1080p-00003.png');
}

#CompanyLogos {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
#CompanyLogos li {
	display:inline-block;
	height: 150px;
	width: 150px;
	text-indent: 100%;
	font-size: 1px;
	background-position: center center;
	background-size: contain;
}
@include breakpoint (xs) {
	#CompanyLogos li {
		height: 100px;
		width: 100px;
	}
}
#AppleLogo {
	background-image: url('/images/apple-logo.png');
}
#AmazonLogo {
	background-image: url('/images/amazon-logo.png');
}
#LyndaLogo {
	background-image: url('/images/lynda-logo.png');
}

#Friends a,
#Friends a:visited {
	color: #ccc;
	text-decoration: none;
	-webkit-transition: color 1s ease-out;
	transition: color 1s ease-out;
}
#Friends a:hover {
	color: #000;
	text-decoration: none;
}
#Friends li {
	display: inline-block;
	margin: 0 30px 30px;
	i {
		display: block;
		margin: 0 auto 10px;
		height: 75px;
		width: 75px;
		border-radius: 50%;
		background-position: center center;
		background-size: cover;
	}
	@include breakpoint(xs) {
		margin:0 5px 10px;
	}
}

#LatestUpdates li {
	list-style: none;
	display:block;
}
#LatestUpdates li .update {
	background: white;
	color: #333;
	overflow:hidden;
	margin-bottom: 15px;
}
.update div.image {
	width: 100%;
	background-size: cover;
	background-position: center center;

	&::after {
		content: '';
		display: block;
		padding-top: 56.25%;
	}
}
.update h3 {
	line-height: 1.3em;
	margin: 15px;
}	