.photogrid .photo {
	background-size: cover;
	background-position: center center;
}
.photogrid .photo.square::after {
	content: '';
	display: block;
	padding-top: 100%;
}
.photogrid .photo.half-height::after {
	content: '';
	display: block;
	padding-top: 50%;
}
.hero.text {
	padding-top:0;
	text-align: left;
}
#PartsList ul {
	list-style: disc;
	list-style-position: inside;
}

.slides {
	position:relative;
	&::after {
		content:'';
		display: block;
		padding-top: 50%;
	}
	.iframe-container {
		position:absolute;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;
	}
	iframe {
		position:relative;
		width: 100%;
		height: 100%;
	}
}