.hero.video-listing {
	padding-top: 0;
}
.thumb {
	width: 100%;
	background-size: cover;
	background-position: center center;
	margin-bottom: 30px;
}
video { display: none; }
.thumb::after {
	content: '';
	display: block;
	padding-top: 56.25%;
	clear:both;
}

.media-source li {
	display:inline-block;
	vertical-align: bottom;
	margin-left: 20px;
	margin-bottom: 20px;
	&:first-child {
		margin-left: 0;
	}
	a {
		text-decoration: none;
	}
	img {
		max-height: 50px;
		max-width: 100%;
		vertical-align: bottom;
	}
}